{"openapi":"3.1.0","info":{"title":"ByneDocs Ask","description":"A single-endpoint API for search, prompt engineering and post-processing of the LLM output. A more detailed description is available in the endpoint details.","version":"1.0.0"},"servers":[{"url":"https://app.docs.bynesoft.com/api/ask"}],"paths":{"/query":{"post":{"tags":["general"],"summary":"Query documents with machine-readable output","description":"This endpoint runs search, prompt engineering and post-processing of the LLM output. The available options are:\n- **includeAll**: when set to true, the flag disables search and forces complete documents into the prompt. By default only most relevant paragraphs are included into the prompt. We recommend using this flag if your intended case is document processing. It is less useful for summarising text or other similar tasks related to knowledge management since it can lead to excessively large prompts.\n- **outputType**: we post-process LLM output into the required format (JSON/CSV).\n- **withReference**: when set to true, the flag also returns a list of documents used when compiling a prompt.\n- **filter**: a list of File IDs to be included in the search scope. By default (if not provided) we search the entire KB. Mostly useful for document processing tasks.\n - **conversationId** : provide conversation's id that is connected with current query. By default (if not provided) we create new conversation.\n- **hybrid**: hybrid search activation flag. If hybrid search is used, the knowledge base will be searched by a mixture of KNN and keyword matching instead of pure KNN. This can be useful when building advisory systems. You may provide keywords, otherwise we will attempt automated keyword extraction from the query. WARNING: please be aware that hybrid search may override file filtering preferences and in rare cases leads to out-of-scope content being included into the prompt.","operationId":"query_query_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"query","required":true,"schema":{"type":"string","title":"Kb"}},{"name":"q","in":"query","required":true,"schema":{"type":"string","title":"Q"}},{"name":"includeAll","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Includeall"}},{"name":"outputType","in":"query","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/OutputTypes"}],"default":"json","title":"Outputtype"}},{"name":"withReference","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Withreference"}},{"name":"modelType","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SupportedGPTModels"},{"type":"string"}],"description":"Choose GPT-4o, GPT-4 or custom LLM as a model type","default":"GPT-4o","title":"Modeltype"},"description":"Choose GPT-4o, GPT-4 or custom LLM as a model type"},{"name":"templateId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Templateid"}}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Body_query_query_post"}],"title":"Body"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AskResponseBodyWithResponse"},{"$ref":"#/components/schemas/AskResponseBodyWithTriggeredFailGuardRailes"},{"$ref":"#/components/schemas/AskResponseBodyWithTriggeredGuardRailes"}],"title":"Response 200 Query Query Post"}},"text/csv":{}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryBadRequestError"}}},"description":"Bad Request"},"402":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryPaymentRequiredError"}}},"description":"Payment Required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryNotFoundError"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryUnprocessableEntityError"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryTooManyRequestsError"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryServerError"}}},"description":"Internal Server Error"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryServiceUnavailable"}}},"description":"Service Unavailable"}}}},"/document-relevance":{"post":{"tags":["general"],"summary":"Retrieve top query-related documents","description":"This endpoint retrieves documents with assigned relevance scores to each one based on their relevance to the query. The available options are:\n- **filter**: a list of File IDs to be included in the search scope. By default (if not provided) we search the entire KB. Mostly useful for document processing tasks.\n - **hybrid**: hybrid search activation flag. If hybrid search is used, the knowledge base will be searched by a mixture of KNN and keyword matching instead of pure KNN. This can be useful when building advisory systems. You may provide keywords, otherwise we will attempt automated keyword extraction from the query. WARNING: please be aware that hybrid search may override file filtering preferences and in rare cases leads to out-of-scope content being included into the prompt.\n - **nearestNeighborsNum**: provide nearest paragraphs number to retrieve (minimum value is 1, maximum value is 50). The default value is 10% of all paragraphs in KB.","operationId":"document_relevance_document_relevance_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"query","required":true,"schema":{"type":"string","title":"Kb"}},{"name":"q","in":"query","required":true,"schema":{"type":"string","title":"Q"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AskDocumentRelevanceRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentRelevanceResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocsRelevanceBadRequestError"}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocsRelevanceNotFoundError"}}},"description":"Not Found"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocsRelevanceUnprocessableEntityError"}}},"description":"Unprocessable Entity"},"503":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocsRelevanceServiceUnavailable"}}},"description":"Service Unavailable"}}}},"/agents/{id}/query":{"post":{"tags":["general"],"summary":"Query agents","description":"The endpoint invokes execution of an Agent. The available options are:\n - **conversationId** : provide conversation's id that is connected with current query. By default (if not provided) we create new conversation.","operationId":"query_agent_v2_agents__id__query_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}},{"name":"q","in":"query","required":true,"schema":{"type":"string","title":"Q"}},{"name":"withReference","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Withreference"}},{"name":"stream","in":"query","required":false,"schema":{"type":"boolean","description":"Streaming with response blocking Output GuardRails is forbidden","default":false,"title":"Stream"},"description":"Streaming with response blocking Output GuardRails is forbidden"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AskAgentResponseBodyWithResponse"},{"$ref":"#/components/schemas/AskAgentResponseBodyWithTriggeredGuardRailes"},{"$ref":"#/components/schemas/AskAgentResponseBodyWithTriggeredFailGuardRailes"}],"title":"Response 200 Query Agent V2 Agents  Id  Query Post"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAgentBadRequestError"}}},"description":"Bad Request"},"402":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryPaymentRequiredError"}}},"description":"Payment Required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAgentNotFoundError"}}},"description":"Not Found"},"413":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAgentContentTooLargeError"}}},"description":"Request Entity Too Large"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAgentUnprocessableEntityError"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryTooManyRequestsError"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAgentServerError"}}},"description":"Internal Server Error"}}}},"/templates":{"post":{"tags":["templates"],"summary":"Post Create Template","description":"This endpoint creates template.\n- **template** (required): template prompt\n- **name** (optional): name of template","operationId":"post_create_template_templates_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCreateTemplateRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCreateTemplateResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateConflictTypeError"}}},"description":"Conflict"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["templates"],"summary":"Get Templates","description":"This endpoint retrieves user's templates. Specify **startingToken** (returned in **nextToken** response field by previous request round) to retrieve next batch of templates","operationId":"get_templates_templates_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"take","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"description":"Quantity of retrieved templates (minimum - 1, maximum - 50)","default":50,"title":"Take"},"description":"Quantity of retrieved templates (minimum - 1, maximum - 50)"},{"name":"startingToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startingtoken"}},{"name":"type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/QueryTemplateTypes"},{"type":"null"}],"title":"Type"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTemplatesResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateBadRequestError"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/templates/{templateId}":{"get":{"tags":["templates"],"summary":"Get Template","description":"This endpoint retrieves specific template by id","operationId":"get_template_templates__templateId__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string","title":"Templateid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserGetTemplateData"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["templates"],"summary":"Update Template","description":"This endpoint updates template.\n- **template** (optional): template prompt\n- **name** (optional): name of template","operationId":"update_template_templates__templateId__patch","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string","title":"Templateid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTemplateRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchUpdateTemplateResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateNotFoundError"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateConflictTypeError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTemplateUnprocessableEntityError"}}},"description":"Unprocessable Entity"}}},"delete":{"tags":["templates"],"summary":"Delete Template","description":"This endpoint deletes specific template by id","operationId":"delete_template_templates__templateId__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string","title":"Templateid"}}],"responses":{"204":{"description":"Successful Response"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/conversations":{"post":{"tags":["conversations"],"summary":"Create new conversation","description":"Create new conversation.","operationId":"create_conversation_conversations_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConversationRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationData"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["conversations"],"summary":"List previous conversations","description":"List all user's conversations.","operationId":"get_conversations_conversations_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"take","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"description":"Quantity of retrieved conversations (minimum - 1, maximum - 50)","default":50,"title":"Take"},"description":"Quantity of retrieved conversations (minimum - 1, maximum - 50)"},{"name":"startingToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startingtoken"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetConversationsResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationsBadRequestError"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/conversations/{conversationId}":{"get":{"tags":["conversations"],"summary":"Get conversation data","description":"List all user's conversations.","operationId":"get_specific_conversation_conversations__conversationId__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","title":"Conversationid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpecificConversationData"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationDataNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["conversations"],"summary":"Edit conversation data","description":"Edit conversation data.","operationId":"edit_conversation_title_conversations__conversationId__patch","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","title":"Conversationid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditConversationTitleRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationData"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationDataNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["conversations"],"summary":"Delete conversation history","description":"Delete conversation data.","operationId":"delete_specific_conversation_conversations__conversationId__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","title":"Conversationid"}}],"responses":{"204":{"description":"Successful Response"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AgentRequestBody":{"properties":{"conversation":{"anyOf":[{"$ref":"#/components/schemas/Conversation"},{"type":"null"}]}},"type":"object","title":"AgentRequestBody"},"AgentResponseItemWithRef":{"properties":{"answer":{"type":"string","title":"Answer"},"reference":{"items":{"anyOf":[{"$ref":"#/components/schemas/GoogleSearchExeLayerReference"},{"$ref":"#/components/schemas/ApiFunctionExeLayerReference"},{"$ref":"#/components/schemas/KnowledgeBaseExeLayerReference"}]},"type":"array","title":"Reference"}},"type":"object","required":["answer","reference"],"title":"AgentResponseItemWithRef"},"AgentResponseItemWithoutRef":{"properties":{"answer":{"type":"string","title":"Answer"}},"type":"object","required":["answer"],"title":"AgentResponseItemWithoutRef"},"ApiFunctionExeLayerReference":{"properties":{"exeLayer":{"type":"string","title":"Exelayer"},"source":{"type":"string","title":"Source"}},"type":"object","required":["exeLayer","source"],"title":"ApiFunctionExeLayerReference"},"AskAgentResponseBodyWithResponse":{"properties":{"queryId":{"type":"string","title":"Queryid"},"conversationId":{"type":"string","title":"Conversationid"},"response":{"anyOf":[{"$ref":"#/components/schemas/AgentResponseItemWithRef"},{"$ref":"#/components/schemas/AgentResponseItemWithoutRef"}],"title":"Response"}},"type":"object","required":["queryId","conversationId","response"],"title":"AskAgentResponseBodyWithResponse"},"AskAgentResponseBodyWithTriggeredFailGuardRailes":{"properties":{"queryId":{"type":"string","title":"Queryid"},"conversationId":{"type":"string","title":"Conversationid"},"triggeredGuardRails":{"items":{"$ref":"#/components/schemas/TriggeredGuardRailData"},"type":"array","title":"Triggeredguardrails"}},"type":"object","required":["queryId","conversationId","triggeredGuardRails"],"title":"AskAgentResponseBodyWithTriggeredFailGuardRailes"},"AskAgentResponseBodyWithTriggeredGuardRailes":{"properties":{"queryId":{"type":"string","title":"Queryid"},"conversationId":{"type":"string","title":"Conversationid"},"response":{"anyOf":[{"$ref":"#/components/schemas/AgentResponseItemWithRef"},{"$ref":"#/components/schemas/AgentResponseItemWithoutRef"}],"title":"Response"},"triggeredGuardRails":{"items":{"$ref":"#/components/schemas/TriggeredGuardRailData"},"type":"array","title":"Triggeredguardrails"}},"type":"object","required":["queryId","conversationId","response","triggeredGuardRails"],"title":"AskAgentResponseBodyWithTriggeredGuardRailes"},"AskDocumentRelevanceRequestBody":{"properties":{"filter":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Filter"},"hybrid":{"allOf":[{"$ref":"#/components/schemas/HybridBody"}],"default":{"active":false,"keywords":[]}},"nearestNeighborsNum":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Nearestneighborsnum"}},"type":"object","title":"AskDocumentRelevanceRequestBody"},"AskResponseBodyWithResponse":{"properties":{"queryId":{"type":"string","title":"Queryid"},"conversationId":{"type":"string","title":"Conversationid"},"response":{"anyOf":[{"items":{"$ref":"#/components/schemas/JSONResponseItemWithRef"},"type":"array"},{"items":{"$ref":"#/components/schemas/JSONResponseItemWithoutRef"},"type":"array"}],"title":"Response"}},"type":"object","required":["queryId","conversationId","response"],"title":"AskResponseBodyWithResponse"},"AskResponseBodyWithTriggeredFailGuardRailes":{"properties":{"queryId":{"type":"string","title":"Queryid"},"conversationId":{"type":"string","title":"Conversationid"},"triggeredGuardRails":{"items":{"$ref":"#/components/schemas/TriggeredGuardRailData"},"type":"array","title":"Triggeredguardrails"}},"type":"object","required":["queryId","conversationId","triggeredGuardRails"],"title":"AskResponseBodyWithTriggeredFailGuardRailes"},"AskResponseBodyWithTriggeredGuardRailes":{"properties":{"queryId":{"type":"string","title":"Queryid"},"conversationId":{"type":"string","title":"Conversationid"},"response":{"anyOf":[{"items":{"$ref":"#/components/schemas/JSONResponseItemWithRef"},"type":"array"},{"items":{"$ref":"#/components/schemas/JSONResponseItemWithoutRef"},"type":"array"}],"title":"Response"},"triggeredGuardRails":{"items":{"$ref":"#/components/schemas/TriggeredGuardRailData"},"type":"array","title":"Triggeredguardrails"}},"type":"object","required":["queryId","conversationId","response","triggeredGuardRails"],"title":"AskResponseBodyWithTriggeredGuardRailes"},"AuthForbiddenError":{"properties":{"detail":{"type":"string","enum":["JWK public key not found","JWK invalid"],"title":"Detail"}},"type":"object","required":["detail"],"title":"AuthForbiddenError"},"AuthUnauthorizedError":{"properties":{"detail":{"type":"string","enum":["Token expired"],"const":"Token expired","title":"Detail"}},"type":"object","required":["detail"],"title":"AuthUnauthorizedError"},"BaseTriggeredGuardRailContent":{"properties":{"triggerSource":{"type":"string","title":"Triggersource"},"message":{"type":"string","title":"Message"}},"type":"object","required":["triggerSource","message"],"title":"BaseTriggeredGuardRailContent"},"Body_query_query_post":{"properties":{"filter":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Filter"},"conversation":{"anyOf":[{"$ref":"#/components/schemas/Conversation"},{"type":"null"}]},"hybrid":{"allOf":[{"$ref":"#/components/schemas/HybridBody"}],"default":{"active":false,"keywords":[]}},"guardRails":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Guardrails"}},"type":"object","title":"Body_query_query_post"},"Conversation":{"properties":{"id":{"type":"string","title":"Id"},"priorMessagesCount":{"type":"integer","title":"Priormessagescount","default":2}},"type":"object","required":["id"],"title":"Conversation"},"ConversationData":{"properties":{"id":{"type":"string","title":"Id"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"}},"type":"object","required":["id","title"],"title":"ConversationData"},"ConversationDataNotFoundError":{"properties":{"detail":{"type":"string","enum":["Conversation not found"],"const":"Conversation not found","title":"Detail"}},"type":"object","required":["detail"],"title":"ConversationDataNotFoundError"},"ConversationsBadRequestError":{"properties":{"detail":{"type":"string","enum":["Invalid starting token provided"],"const":"Invalid starting token provided","title":"Detail"}},"type":"object","required":["detail"],"title":"ConversationsBadRequestError"},"CreateConversationRequestBody":{"properties":{"title":{"anyOf":[{"type":"string","maxLength":255,"minLength":1},{"type":"null"}],"title":"Title"}},"type":"object","title":"CreateConversationRequestBody"},"DocsRelevanceBadRequestError":{"properties":{"detail":{"type":"string","enum":["OpenAI bad request","Query is too long","Invalid KB provided. Please, use query KB"],"title":"Detail"}},"type":"object","required":["detail"],"title":"DocsRelevanceBadRequestError"},"DocsRelevanceNotFoundError":{"properties":{"detail":{"type":"string","enum":["No files ready for querying","No limits provided","KB not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"DocsRelevanceNotFoundError"},"DocsRelevanceServiceUnavailable":{"properties":{"detail":{"type":"string","enum":["OpenAI request failed"],"const":"OpenAI request failed","title":"Detail"}},"type":"object","required":["detail"],"title":"DocsRelevanceServiceUnavailable"},"DocsRelevanceUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["Nearest neighbors number should be integer between 1 and 50"],"const":"Nearest neighbors number should be integer between 1 and 50","title":"Detail"}},"type":"object","required":["detail"],"title":"DocsRelevanceUnprocessableEntityError"},"DocumentRelevanceResponseBody":{"properties":{"fileStats":{"items":{"$ref":"#/components/schemas/FileStatsItem"},"type":"array","title":"Filestats"},"paragraphsRetrieved":{"type":"integer","title":"Paragraphsretrieved"}},"type":"object","required":["fileStats","paragraphsRetrieved"],"title":"DocumentRelevanceResponseBody"},"EditConversationTitleRequestBody":{"properties":{"title":{"type":"string","maxLength":255,"minLength":1,"title":"Title"}},"type":"object","required":["title"],"title":"EditConversationTitleRequestBody"},"FileStatsItem":{"properties":{"fileId":{"type":"string","title":"Fileid"},"normalizedScore":{"type":"number","title":"Normalizedscore"},"paragraphsFraction":{"type":"number","title":"Paragraphsfraction"}},"type":"object","required":["fileId","normalizedScore","paragraphsFraction"],"title":"FileStatsItem"},"GetConversationsResponseBody":{"properties":{"conversations":{"items":{"$ref":"#/components/schemas/GetUserConversationShortData"},"type":"array","title":"Conversations"},"nextToken":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nexttoken"}},"type":"object","required":["conversations","nextToken"],"title":"GetConversationsResponseBody"},"GetTemplatesResponseBody":{"properties":{"templates":{"items":{"$ref":"#/components/schemas/UserGetTemplateData"},"type":"array","title":"Templates"},"nextToken":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nexttoken"}},"type":"object","required":["templates","nextToken"],"title":"GetTemplatesResponseBody"},"GetUserConversationShortData":{"properties":{"id":{"type":"string","title":"Id"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"}},"type":"object","required":["id","title"],"title":"GetUserConversationShortData"},"GoogleSearchExeLayerReference":{"properties":{"exeLayer":{"type":"string","title":"Exelayer"},"source":{"type":"string","title":"Source"},"title":{"type":"string","title":"Title"}},"type":"object","required":["exeLayer","source","title"],"title":"GoogleSearchExeLayerReference"},"GuardRailMessageLevel":{"type":"string","enum":["INFO","WARNING","ERROR"],"title":"GuardRailMessageLevel"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HybridBody":{"properties":{"active":{"type":"boolean","title":"Active"},"keywords":{"items":{"type":"string"},"type":"array","title":"Keywords"}},"type":"object","required":["active","keywords"],"title":"HybridBody"},"JSONResponseItemWithRef":{"properties":{"answer":{"type":"string","title":"Answer"},"reference":{"anyOf":[{"$ref":"#/components/schemas/Reference"},{"type":"null"}]}},"type":"object","required":["answer"],"title":"JSONResponseItemWithRef"},"JSONResponseItemWithoutRef":{"properties":{"answer":{"type":"string","title":"Answer"}},"type":"object","required":["answer"],"title":"JSONResponseItemWithoutRef"},"KnowledgeBaseExeLayerReference":{"properties":{"exeLayer":{"type":"string","title":"Exelayer"},"source":{"additionalProperties":{"items":{},"type":"array","uniqueItems":true},"type":"object","title":"Source"}},"type":"object","required":["exeLayer","source"],"title":"KnowledgeBaseExeLayerReference"},"OutputTypes":{"type":"string","enum":["text","json","table"],"title":"OutputTypes"},"PatchTemplateUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["At least one field in the request body must be provided"],"const":"At least one field in the request body must be provided","title":"Detail"}},"type":"object","required":["detail"],"title":"PatchTemplateUnprocessableEntityError"},"PatchUpdateTemplateResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"lastModified":{"type":"string","title":"Lastmodified"}},"type":"object","required":["id","name","lastModified"],"title":"PatchUpdateTemplateResponseBody"},"PostCreateTemplateRequestBody":{"properties":{"template":{"type":"string","maxLength":50000,"minLength":1,"title":"Template"},"name":{"anyOf":[{"type":"string","maxLength":50,"minLength":1},{"type":"null"}],"title":"Name"},"type":{"$ref":"#/components/schemas/QueryTemplateTypes"}},"type":"object","required":["template","type"],"title":"PostCreateTemplateRequestBody"},"PostCreateTemplateResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["id","name","dateCreated"],"title":"PostCreateTemplateResponseBody"},"QueryAgentBadRequestError":{"properties":{"detail":{"type":"string","enum":["Query is too long","OpenAI bad request","Invalid KB provided. Please, use query KB","Provided GuardRail has empty tech KB","Streaming with response blocking Output GuardRails is forbidden"],"title":"Detail"}},"type":"object","required":["detail"],"title":"QueryAgentBadRequestError"},"QueryAgentContentTooLargeError":{"properties":{"detail":{"type":"string","enum":["The prompt is overloaded, leaving no space for context. Simplify commands or condense the conversation history."],"const":"The prompt is overloaded, leaving no space for context. Simplify commands or condense the conversation history.","title":"Detail"}},"type":"object","required":["detail"],"title":"QueryAgentContentTooLargeError"},"QueryAgentNotFoundError":{"properties":{"detail":{"type":"string","enum":["No limits provided","KB not found","Template not found","Execution layers not found","Agent not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"QueryAgentNotFoundError"},"QueryAgentServerError":{"properties":{"detail":{"type":"string","enum":["OpenAI request failed","Configuration error","Something went wrong with LLM Client","Failed to parse request content into JSON format","Failed to generate queries for existing execution layers","Something went wrong with site content retrieving"],"title":"Detail"}},"type":"object","required":["detail"],"title":"QueryAgentServerError"},"QueryAgentUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["Custom LLM querying requires configured template"],"const":"Custom LLM querying requires configured template","title":"Detail"}},"type":"object","required":["detail"],"title":"QueryAgentUnprocessableEntityError"},"QueryBadRequestError":{"properties":{"detail":{"type":"string","enum":["Query is too long","Template is too long","OpenAI bad request","No relevant data was retrieved from the database","Invalid KB provided. Please, use query KB","Provided GuardRail has empty tech KB"],"title":"Detail"}},"type":"object","required":["detail"],"title":"QueryBadRequestError"},"QueryNotFoundError":{"properties":{"detail":{"type":"string","enum":["No files ready for querying","No limits provided","KB not found","Custom model not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"QueryNotFoundError"},"QueryPaymentRequiredError":{"properties":{"detail":{"type":"string","enum":["To use GPT-4 model, please purchase a subscription"],"const":"To use GPT-4 model, please purchase a subscription","title":"Detail"}},"type":"object","required":["detail"],"title":"QueryPaymentRequiredError"},"QueryServerError":{"properties":{"detail":{"type":"string","enum":["Configuration error","Failed to parse result into JSON format","Failed to parse result into .csv format","Something went wrong with LLM Client","Failed to parse request content into JSON format"],"title":"Detail"}},"type":"object","required":["detail"],"title":"QueryServerError"},"QueryServiceUnavailable":{"properties":{"detail":{"type":"string","enum":["OpenAI request failed"],"const":"OpenAI request failed","title":"Detail"}},"type":"object","required":["detail"],"title":"QueryServiceUnavailable"},"QueryTemplateTypes":{"type":"string","enum":["llm","agent"],"title":"QueryTemplateTypes"},"QueryTooManyRequestsError":{"properties":{"detail":{"type":"string","enum":["The query limit was exceeded","The premium query limit was exceeded"],"title":"Detail"}},"type":"object","required":["detail"],"title":"QueryTooManyRequestsError"},"QueryUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["Custom LLM querying with reference is not available","Custom LLM querying requires configured template"],"title":"Detail"}},"type":"object","required":["detail"],"title":"QueryUnprocessableEntityError"},"Reference":{"properties":{"file":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"File"},"paragraph":{"anyOf":[{"type":"string"},{"type":"integer"},{"type":"null"}],"title":"Paragraph"}},"type":"object","required":["file","paragraph"],"title":"Reference"},"Requests":{"properties":{"request":{"type":"string","title":"Request"},"response":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Response"},"paragraphs":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Paragraphs"}},"type":"object","required":["request"],"title":"Requests"},"SpecificConversationData":{"properties":{"id":{"type":"string","title":"Id"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"requests":{"items":{"$ref":"#/components/schemas/Requests"},"type":"array","title":"Requests"}},"type":"object","required":["id","title","requests"],"title":"SpecificConversationData"},"SupportedGPTModels":{"type":"string","enum":["GPT-4o","GPT-4"],"title":"SupportedGPTModels"},"TemplateBadRequestError":{"properties":{"detail":{"type":"string","enum":["Invalid starting token provided"],"const":"Invalid starting token provided","title":"Detail"}},"type":"object","required":["detail"],"title":"TemplateBadRequestError"},"TemplateConflictTypeError":{"properties":{"detail":{"type":"string","enum":["Such template name already exists"],"const":"Such template name already exists","title":"Detail"}},"type":"object","required":["detail"],"title":"TemplateConflictTypeError"},"TemplateNotFoundError":{"properties":{"detail":{"type":"string","enum":["Template not found","KB not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"TemplateNotFoundError"},"TriggeredGuardRailData":{"properties":{"id":{"type":"string","title":"Id"},"level":{"$ref":"#/components/schemas/GuardRailMessageLevel"},"content":{"$ref":"#/components/schemas/BaseTriggeredGuardRailContent"}},"type":"object","required":["id","level","content"],"title":"TriggeredGuardRailData"},"UpdateTemplateRequestBody":{"properties":{"template":{"anyOf":[{"type":"string","maxLength":50000,"minLength":1},{"type":"null"}],"title":"Template"},"name":{"anyOf":[{"type":"string","maxLength":50,"minLength":1},{"type":"null"}],"title":"Name"}},"type":"object","title":"UpdateTemplateRequestBody"},"UserGetTemplateData":{"properties":{"name":{"type":"string","title":"Name"},"id":{"type":"string","title":"Id"},"template":{"type":"string","title":"Template"},"type":{"$ref":"#/components/schemas/QueryTemplateTypes"},"lastModified":{"type":"string","title":"Lastmodified"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["name","id","template","type","lastModified","dateCreated"],"title":"UserGetTemplateData"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKey":{"type":"apiKey","in":"header","name":"X-API-Key"},"Cognito_IdP":{"type":"oauth2","flows":{"authorizationCode":{"scopes":{"openid":"Grants access to the OpenID Connect ID token","email":"Grants access to the user's email address","profile":"Grants access to the user's basic profile information"},"authorizationUrl":"https://auth.app.docs.bynesoft.com/oauth2/authorize","tokenUrl":"https://auth.app.docs.bynesoft.com/oauth2/token"}}}}}}