{"openapi":"3.1.0","info":{"title":"ByneDocs Knowledge-Base","description":"The Knowledge Base API is your way to manage documents stored in the storage and the first API you call after registration. Each user __must__ have a knowledge base. The first call to the API initialises your knowledge base (KB) while later you may use the API to manage access to it, reassign the KB to other users (in development) or manage synced files. \n\n  ### Important concepts\n\n  - __Knowledge base__: A collection of files already parsed into the DB and processing jobs for newly added files. Each KB is assigned to a user who can add new files, manage existing ones or query the KB. In the near future we will also add support for granular access management so you can share full or partial access (queryonly, updateonly) to the KB with other users. Each user must have an attached KB to perform operations.\n      \n  - **Job**: a job is a queue of files submitted for processing.\n      \n  - __File / document__: file or document is a PDF, DOCX or another textual / scanned / hand-written document which is stored or added into the KB. Files are stored as separate paragraphs each with a corresponding embedding.\n  \n","version":"1.0.0"},"servers":[{"url":"https://app.docs.bynesoft.com/api/knowledge-base"}],"paths":{"/":{"post":{"tags":["general"],"summary":"Create knowledge base","description":"This operation initialises an empty knowledge base and attaches it to your user. You always need to perform this operation after registartion. Upon a successful registration you recieve a KB ID which you can then use to manage or query the KB. \n\nThe request body contains the following fields:\n- **name**: The name of the knowledge base. \n- **type**: Specifies the type of the knowledge base.\n\t- **query**: This type is designated for use with the Ask service.\n\t- **tech**: _Coming soon!_ This type is designated for providing guards or constraints for the Ask service, ensuring that queries are processed within specified guidelines.\n- **paragraps**: Contains optional chunking parameters.\n\t- **chunkSize**: The maximum size of each chunk, in tokens.\n\t- **chunkOverlap**: The number of overlapping tokens between consecutive chunks.","operationId":"post_create_kb__post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PostKBRequestBody"}],"default":{},"title":"Body"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/UserKBData"},{"$ref":"#/components/schemas/WarningPostKBResponseBody"}],"title":"Response 200 Post Create Kb  Post"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostKBBadRequest"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["general"],"summary":"List all users knowledge bases","description":"List all users Knowledge Bases.","operationId":"get_all_users_kbs__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"type","in":"query","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/KBTypes"}],"title":"Type"}},{"name":"take","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"default":50,"title":"Take"}},{"name":"startingToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startingtoken"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserKbsDataResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserKbsDataBadRequest"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}":{"put":{"tags":["general"],"summary":"Update knowledge base","description":"Update Knowledge Bases.","operationId":"put_update_kb__kb__put","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PutUpdateKBRequestBody"}}}},"responses":{"204":{"description":"Successful Response"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameBadRequest"}}},"description":"Bad Request"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameUnprocessableEntity"}}},"description":"Unprocessable Entity"}}},"get":{"tags":["general"],"summary":"Get user knowledge base","description":"This endpoint returns users Knowledge Base data.","operationId":"get_user_kb__kb__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserKBData"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["general"],"summary":"Delete knowledge base","description":"This operation removes Knowledge Base.","operationId":"delete_kb__kb__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}}],"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteKBNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/info":{"get":{"tags":["general"],"summary":"Check KB readiness","description":"Check if Knowledge Base has ready files for querying.","operationId":"get_kb_info__kb__info_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetInfoResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/files":{"get":{"tags":["files"],"summary":"List files","description":"List files available in a knowledge base.","operationId":"get_files__kb__files_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetFilesResponseBody"},"title":"Response Get Files  Kb  Files Get"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/files/{fileId}/paragraphs":{"post":{"tags":["files"],"summary":"Review parsed file in KB","description":"This endpoint allows to review the results of parsing and also to obtain raw text corresponding to a particular file.","operationId":"get_file_paragraphs__kb__files__fileId__paragraphs_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}},{"name":"fileId","in":"path","required":true,"schema":{"type":"string","title":"Fileid"}},{"name":"take","in":"query","required":false,"schema":{"type":"integer","maximum":20,"minimum":1,"default":20,"title":"Take"}},{"name":"startingToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startingtoken"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParagraphsRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ParagraphsPaginatedResponseBody"},{"$ref":"#/components/schemas/ParagraphsResponseBody"}],"title":"Response 200 Get File Paragraphs  Kb  Files  Fileid  Paragraphs Post"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParagraphsBadRequestError"}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/file/{fileId}":{"delete":{"tags":["files"],"summary":"Delete file from KB","description":"This operation removed a file from KB.","operationId":"delete_file__kb__file__fileId__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"type":"string","title":"Kb"}},{"name":"fileId","in":"path","required":true,"schema":{"type":"string","title":"Fileid"}}],"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/conversations":{"get":{"tags":["conversations"],"summary":"List KB conversations","description":"List all user's conversations started with this KB.","operationId":"get_conversations__kb__conversations_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConversationData"},"title":"Response 200 Get Conversations  Kb  Conversations Get"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationBadRequest"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/conversations/{conversationId}":{"get":{"tags":["conversations"],"summary":"Get conversation's data","description":"List all user's conversations started with this KB.","operationId":"get_specific_conversation__kb__conversations__conversationId__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}},{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","title":"Conversationid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpecificConversationData"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationBadRequest"}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationDataNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["conversations"],"summary":"Edit conversation's title","description":"Edit conversation's title.","operationId":"edit_conversation_title__kb__conversations__conversationId__patch","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}},{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","title":"Conversationid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditConversationTitleRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationData"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationBadRequest"}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationDataNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["conversations"],"summary":"Delete conversation history","description":"Delete conversation's data.","operationId":"delete_specific_conversation__kb__conversations__conversationId__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}},{"name":"conversationId","in":"path","required":true,"schema":{"type":"string","title":"Conversationid"}}],"responses":{"204":{"description":"Successful Response"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationBadRequest"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/jobs":{"post":{"tags":["jobs"],"summary":"Create job","description":"This endpoint creates job. User cannot have more than 10 unfinished jobs at the same time.","operationId":"create_job__kb__jobs_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response 200 Create Job  Kb  Jobs Post"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateJobTooManyRequestsError"}}},"description":"Too Many Requests"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["jobs"],"summary":"List jobs data","description":"List all Jobs by provided status and update user's Jobs statuses.","operationId":"get_jobs_data__kb__jobs_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}},{"name":"status","in":"query","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/JobStatuses"}],"title":"Status"}},{"name":"take","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"default":50,"title":"Take"}},{"name":"startingToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startingtoken"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetJobsDataResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/jobs/{jobId}":{"get":{"tags":["jobs"],"summary":"Get job data","description":"Retrieve Job by provided status and update Job status.","operationId":"get_job_data__kb__jobs__jobId__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"type":"string","title":"Kb"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string","title":"Jobid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetJobDataResponseBody"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobNotFound"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["jobs"],"summary":"Delete job","description":"Cancel Job with status 'CREATED'.","operationId":"delete_job__kb__jobs__jobId__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string","title":"Jobid"}}],"responses":{"204":{"description":"Successful Response"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobStatusBadRequest"}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobNotFound"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["jobs"],"summary":"Put files to job","description":"This endpoint puts files to Job.","operationId":"put_files_to_job__kb__jobs__jobId__put","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kb"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string","title":"Jobid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/LocalFileMeta"},{"$ref":"#/components/schemas/GdriveFileMeta"},{"$ref":"#/components/schemas/ConfluenceFileMeta"}]},"minItems":1,"maxItems":100,"title":"Body"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientConfigForbidden"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobStatusBadRequest"}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobNotFound"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{kb}/jobs/{jobId}/trigger":{"post":{"tags":["jobs"],"summary":"Trigger job","description":"Start Job files execution.","operationId":"post_trigger_job__kb__jobs__jobId__trigger_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"path","required":true,"schema":{"type":"string","title":"Kb"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string","title":"Jobid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientConfigForbidden"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobStatusBadRequest"}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobNotFound"}}},"description":"Not Found"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocsLimitTooManyRequestsError"}}},"description":"Too Many Requests"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AuthForbiddenError":{"properties":{"detail":{"type":"string","enum":["JWK public key not found","JWK invalid"],"title":"Detail"}},"type":"object","required":["detail"],"title":"AuthForbiddenError"},"AuthUnauthorizedError":{"properties":{"detail":{"const":"Token expired","title":"Detail"}},"type":"object","required":["detail"],"title":"AuthUnauthorizedError"},"ClientConfigForbidden":{"properties":{"detail":{"type":"string","enum":["GDrive configuration information was not provided","Confluence configuration information was not provided"],"title":"Detail"}},"type":"object","required":["detail"],"title":"ClientConfigForbidden"},"ConfluenceFileMeta":{"properties":{"connector":{"const":"confluence","title":"Connector"},"space":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Space"},"contentId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contentid"},"checkChildren":{"type":"boolean","title":"Checkchildren","default":true}},"type":"object","required":["connector"],"title":"ConfluenceFileMeta"},"ConnectorDataKBFileV2":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"connector":{"type":"string","title":"Connector"},"mime":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mime"},"lastModified":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lastmodified"}},"type":"object","required":["connector"],"title":"ConnectorDataKBFileV2"},"ConversationBadRequest":{"properties":{"requests":{"const":"Invalid KB provided. Please, use query KB","title":"Requests"}},"type":"object","required":["requests"],"title":"ConversationBadRequest"},"ConversationData":{"properties":{"id":{"type":"string","title":"Id"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"}},"type":"object","required":["id","title"],"title":"ConversationData"},"ConversationDataNotFoundError":{"properties":{"detail":{"type":"string","enum":["Conversation not found","KB not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"ConversationDataNotFoundError"},"CreateJobTooManyRequestsError":{"properties":{"detail":{"const":"The limit of 10 unfinished jobs has been reached","title":"Detail"}},"type":"object","required":["detail"],"title":"CreateJobTooManyRequestsError"},"DeleteKBNotFoundError":{"properties":{"detail":{"const":"KB not found","title":"Detail"}},"type":"object","required":["detail"],"title":"DeleteKBNotFoundError"},"DocsLimitTooManyRequestsError":{"properties":{"detail":{"const":"The docs limit was exceeded","title":"Detail"}},"type":"object","required":["detail"],"title":"DocsLimitTooManyRequestsError"},"DocumentParagraphData":{"properties":{"id":{"type":"string","title":"Id"},"content":{"type":"string","title":"Content"},"fileName":{"type":"string","title":"Filename"}},"type":"object","required":["id","content","fileName"],"title":"DocumentParagraphData"},"EditConversationTitleRequestBody":{"properties":{"title":{"type":"string","maxLength":255,"minLength":1,"title":"Title"}},"type":"object","required":["title"],"title":"EditConversationTitleRequestBody"},"FileNotFoundError":{"properties":{"detail":{"const":"File not found","title":"Detail"}},"type":"object","required":["detail"],"title":"FileNotFoundError"},"GdriveFileMeta":{"properties":{"connector":{"const":"gdrive","title":"Connector"},"fileId":{"type":"string","title":"Fileid"}},"type":"object","required":["connector","fileId"],"title":"GdriveFileMeta"},"GetFilesResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"connector":{"type":"string","title":"Connector"},"lastModified":{"type":"string","title":"Lastmodified"}},"type":"object","required":["id","name","connector","lastModified"],"title":"GetFilesResponseBody"},"GetInfoResponseBody":{"properties":{"isReadyToQuery":{"type":"boolean","title":"Isreadytoquery"}},"type":"object","required":["isReadyToQuery"],"title":"GetInfoResponseBody"},"GetJobDataResponseBody":{"properties":{"status":{"type":"string","title":"Status"},"dateCreated":{"type":"string","title":"Datecreated"},"lastModified":{"type":"string","title":"Lastmodified"},"files":{"items":{"$ref":"#/components/schemas/JobFileDataV2"},"type":"array","title":"Files"}},"type":"object","required":["status","dateCreated","lastModified","files"],"title":"GetJobDataResponseBody"},"GetJobsDataResponseBody":{"properties":{"jobs":{"items":{"$ref":"#/components/schemas/JobsDataItem"},"type":"array","title":"Jobs"},"nextToken":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nexttoken"}},"type":"object","required":["jobs","nextToken"],"title":"GetJobsDataResponseBody"},"GetUserKBData":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/KBTypes"},"paragraphs":{"$ref":"#/components/schemas/ParagraphsKBConfig"},"dateCreated":{"type":"string","title":"Datecreated"},"lastModified":{"type":"string","title":"Lastmodified"},"connectors":{"items":{"type":"string"},"type":"array","uniqueItems":true,"title":"Connectors"}},"type":"object","required":["id","name","type","paragraphs","dateCreated","lastModified","connectors"],"title":"GetUserKBData"},"GetUserKbsDataBadRequest":{"properties":{"detail":{"const":"Invalid starting token provided","title":"Detail"}},"type":"object","required":["detail"],"title":"GetUserKbsDataBadRequest"},"GetUserKbsDataResponseBody":{"properties":{"kbs":{"items":{"$ref":"#/components/schemas/UserKBData"},"type":"array","title":"Kbs"},"nextToken":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nexttoken"}},"type":"object","required":["kbs","nextToken"],"title":"GetUserKbsDataResponseBody"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"JobFileDataV2":{"properties":{"status":{"type":"string","title":"Status"},"lastModified":{"type":"string","title":"Lastmodified"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"},"id":{"type":"string","title":"Id"},"connectorData":{"$ref":"#/components/schemas/ConnectorDataKBFileV2"}},"type":"object","required":["status","lastModified","id","connectorData"],"title":"JobFileDataV2"},"JobNotFound":{"properties":{"detail":{"const":"Job not found","title":"Detail"}},"type":"object","required":["detail"],"title":"JobNotFound"},"JobStatusBadRequest":{"properties":{"detail":{"const":"Only job with 'CREATED' status can be updated/triggred/deleted","title":"Detail"}},"type":"object","required":["detail"],"title":"JobStatusBadRequest"},"JobStatuses":{"type":"string","enum":["CREATED","IN PROGRESS","CANCELLED","FINISHED","FAILED"],"title":"JobStatuses"},"JobsDataItem":{"properties":{"id":{"type":"string","title":"Id"},"status":{"type":"string","title":"Status"}},"type":"object","required":["id","status"],"title":"JobsDataItem"},"KBParagraphsBody":{"properties":{"chunkSize":{"type":"integer","maximum":100000.0,"minimum":200.0,"title":"Chunksize","default":800},"chunkOverlap":{"type":"integer","minimum":0.0,"title":"Chunkoverlap","default":400}},"type":"object","title":"KBParagraphsBody"},"KBTypes":{"type":"string","enum":["query","tech"],"title":"KBTypes"},"LocalFileMeta":{"properties":{"connector":{"const":"local","title":"Connector"},"fileName":{"type":"string","title":"Filename"},"lastModified":{"type":"string","title":"Lastmodified"}},"type":"object","required":["connector","fileName","lastModified"],"title":"LocalFileMeta"},"NameBadRequest":{"properties":{"detail":{"const":"The name of the Knowledge Base is not unique to the user","title":"Detail"}},"type":"object","required":["detail"],"title":"NameBadRequest"},"NameUnprocessableEntity":{"properties":{"detail":{"const":"Name length should be between 3 and 50 characters","title":"Detail"}},"type":"object","required":["detail"],"title":"NameUnprocessableEntity"},"ParagraphsBadRequestError":{"properties":{"detail":{"const":"Invalid starting token provided","title":"Detail"}},"type":"object","required":["detail"],"title":"ParagraphsBadRequestError"},"ParagraphsKBConfig":{"properties":{"chunkSize":{"type":"integer","title":"Chunksize"},"chunkOverlap":{"type":"integer","title":"Chunkoverlap"}},"type":"object","required":["chunkSize","chunkOverlap"],"title":"ParagraphsKBConfig"},"ParagraphsPaginatedResponseBody":{"properties":{"paragraphs":{"items":{"$ref":"#/components/schemas/DocumentParagraphData"},"type":"array","title":"Paragraphs"},"docsCount":{"type":"integer","title":"Docscount"},"nextToken":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nexttoken"}},"type":"object","required":["paragraphs","docsCount","nextToken"],"title":"ParagraphsPaginatedResponseBody"},"ParagraphsRequestBody":{"properties":{"parIds":{"anyOf":[{"items":{"type":"string"},"type":"array","maxItems":20},{"type":"null"}],"title":"Parids"}},"type":"object","title":"ParagraphsRequestBody"},"ParagraphsResponseBody":{"properties":{"paragraphs":{"items":{"$ref":"#/components/schemas/DocumentParagraphData"},"type":"array","title":"Paragraphs"},"docsCount":{"type":"integer","title":"Docscount"}},"type":"object","required":["paragraphs","docsCount"],"title":"ParagraphsResponseBody"},"PostKBBadRequest":{"properties":{"detail":{"const":"Chunk overlap should be smaller than chunk size","title":"Detail"}},"type":"object","required":["detail"],"title":"PostKBBadRequest"},"PostKBRequestBody":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"type":{"allOf":[{"$ref":"#/components/schemas/KBTypes"}],"default":"query"},"paragraphs":{"allOf":[{"$ref":"#/components/schemas/KBParagraphsBody"}],"default":{"chunkSize":800,"chunkOverlap":400}}},"type":"object","title":"PostKBRequestBody","examples":[{"name":"string","paragraphs":{"chunkOverlap":400,"chunkSize":800},"type":"query"}]},"PutUpdateKBRequestBody":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"PutUpdateKBRequestBody"},"Requests":{"properties":{"request":{"type":"string","title":"Request"},"response":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Response"},"paragraphs":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Paragraphs"}},"type":"object","required":["request"],"title":"Requests"},"SpecificConversationData":{"properties":{"id":{"type":"string","title":"Id"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"requests":{"items":{"$ref":"#/components/schemas/Requests"},"type":"array","title":"Requests"}},"type":"object","required":["id","title","requests"],"title":"SpecificConversationData"},"UserKBData":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/KBTypes"},"paragraphs":{"$ref":"#/components/schemas/ParagraphsKBConfig"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["id","name","type","paragraphs","dateCreated"],"title":"UserKBData"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WarningPostKBResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/KBTypes"},"paragraphs":{"$ref":"#/components/schemas/ParagraphsKBConfig"},"dateCreated":{"type":"string","title":"Datecreated"},"warning":{"type":"string","title":"Warning","default":"Provided chunk overlap is high"}},"type":"object","required":["id","name","type","paragraphs","dateCreated"],"title":"WarningPostKBResponseBody"}},"securitySchemes":{"APIKey":{"type":"apiKey","in":"header","name":"X-API-Key"},"Cognito_IdP":{"type":"oauth2","flows":{"authorizationCode":{"scopes":{"openid":"Grants access to the OpenID Connect ID token","email":"Grants access to the user's email address","profile":"Grants access to the user's basic profile information"},"authorizationUrl":"https://auth.app.docs.bynesoft.com/oauth2/authorize","tokenUrl":"https://auth.app.docs.bynesoft.com/oauth2/token"}}}}}}