{"openapi":"3.1.0","info":{"title":"ByneDocs Users","description":"This API allows you to check information about your account and, most importantly, track your API calls and queries. By default we allow 15 queries a day and 10 documents processed per month to avoid abuse of the free API. If you feel that you need more for testing, you can buy a larger quota by [here](https://app.docs.bynesoft.com/profile). Both the sandbox and the testing package quotas are only intended for initial testing and evaluation purposes. If you feel that you're ready for a larger-scale pilot, please contact our Sales team via [email](mailto:hello@bynesoft.com) or leave a request on the main [website](https://bynedocs.com/api).\n","version":"1.0.0"},"servers":[{"url":"https://app.docs.bynesoft.com/api/users"}],"paths":{"/llms":{"post":{"tags":["llms"],"summary":"Post Create Llm Config","description":"Create LLM configuration.","operationId":"post_create_llm_config_llms_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"forceSave","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Forcesave"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostLLMConfigRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLLMConfigResponseBody"}}}},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LLMConfigConflictTypeError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LLMConfigUnprocessableEntityError"}}},"description":"Unprocessable Entity"}}},"get":{"tags":["llms"],"summary":"Get Llm Configs","description":"Review all your LLM configurations and available cloud models.","operationId":"get_llm_configs_llms_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLLMConfigsResponseBody"}}}}}}},"/llms/{name}":{"get":{"tags":["llms"],"summary":"Get Llm Config","description":"Review specific LLM configuration.","operationId":"get_llm_config_llms__name__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","title":"Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLLMConfigFullData"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LLMConfigNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["llms"],"summary":"Update Llm Config","description":"Update LLM configuration.","operationId":"update_llm_config_llms__name__patch","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","title":"Name"}},{"name":"forceSave","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Forcesave"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLLMConfigRequestBody"}}}},"responses":{"204":{"description":"Successful Response"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LLMConfigNotFoundError"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LLMConfigConflictTypeError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchLLMConfigUnprocessableEntityError"}}},"description":"Unprocessable Entity"}}},"delete":{"tags":["llms"],"summary":"Delete Llm Config","description":"Delete LLM configuration.","operationId":"delete_llm_config_llms__name__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","title":"Name"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/me":{"get":{"tags":["me"],"summary":"Get account information","description":"Provides a view of your API usage and account information.","operationId":"get_user_info_me_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"portalLink","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Portallink"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserInfoResponseBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/agents/execution-layers":{"post":{"tags":["agents"],"summary":"Post Create Execution Layer","description":"Create Execution Layer.","operationId":"post_create_execution_layer_agents_execution_layers_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostExecutionLayerRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExecutionLayerResponseBody"}}}},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionLayerConflictTypeError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExeLayerUnprocessableEntityError"}}},"description":"Unprocessable Entity"}}},"get":{"tags":["agents"],"summary":"Get Execution Layers","description":"Review all your Execution Layers.","operationId":"get_execution_layers_agents_execution_layers_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"take","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"description":"Quantity of retrieved execution layers (minimum - 1, maximum - 50)","default":50,"title":"Take"},"description":"Quantity of retrieved execution layers (minimum - 1, maximum - 50)"},{"name":"startingToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startingtoken"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetExecutionLayersResponseBody"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExeLayerBadRequestError"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/agents/execution-layers/{id}":{"get":{"tags":["agents"],"summary":"Get Execution Layer","description":"Review specific Execution Layer.","operationId":"get_execution_layer_agents_execution_layers__id__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetExecutionLayerFullData"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExeLayerNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["agents"],"summary":"Update Execution Layer","description":"Update Execution Layer.","operationId":"update_execution_layer_agents_execution_layers__id__patch","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExecutionLayerRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExecutionLayerResponseBody"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExeLayerNotFoundError"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionLayerConflictTypeError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchExeLayerUnprocessableEntityError"}}},"description":"Unprocessable Entity"}}},"delete":{"tags":["agents"],"summary":"Delete Execution Layer","description":"Delete Execution Layer.","operationId":"delete_execution_layer_agents_execution_layers__id__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/agents":{"post":{"tags":["agents"],"summary":"Post Create Agent","description":"Create Agent.","operationId":"post_create_agent_agents_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostAgentRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponseBody"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentBadRequest"}}},"description":"Bad Request"},"402":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentPaymentRequired"}}},"description":"Payment Required"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentNotFoundError"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentConflictTypeError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentUnprocessableEntityError"}}},"description":"Unprocessable Entity"}}},"get":{"tags":["agents"],"summary":"Get Agents","description":"Review all your Agents.","operationId":"get_agents_agents_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"take","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"description":"Quantity of retrieved agents (minimum - 1, maximum - 50)","default":50,"title":"Take"},"description":"Quantity of retrieved agents (minimum - 1, maximum - 50)"},{"name":"startingToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startingtoken"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAgentsResponseBody"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentBadRequestError"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/agents/{id}":{"get":{"tags":["agents"],"summary":"Get Agent","description":"Review specific Agent.","operationId":"get_agent_agents__id__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAgentFullData"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAgentNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["agents"],"summary":"Update Agent","description":"Update Agent.","operationId":"update_agent_agents__id__patch","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAgentRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAgentResponseBody"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentNotFoundError"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentConflictTypeError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAgentUnprocessableEntityError"}}},"description":"Unprocessable Entity"}}},"delete":{"tags":["agents"],"summary":"Delete Agent","description":"Delete Agent.","operationId":"delete_agent_agents__id__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/guard-rails":{"post":{"tags":["guard-rails"],"summary":"Post Create Guard Rail","description":"Create GuardRail.","operationId":"post_create_guard_rail_guard_rails_post","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostGuardRailRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostGuardRailResponseBody"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostGuardRailBadRequestError"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuardRailForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostGuardRailNotFoundError"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuardRailConflictError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostGuardRailUnsupportedEntityError"}}},"description":"Unprocessable Entity"}}},"get":{"tags":["guard-rails"],"summary":"Get Guard Rails","description":"Review all your GuardRails.","operationId":"get_guard_rails_guard_rails_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"take","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"description":"Quantity of retrieved GuardRails (minimum - 1, maximum - 50)","default":50,"title":"Take"},"description":"Quantity of retrieved GuardRails (minimum - 1, maximum - 50)"},{"name":"startingToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startingtoken"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetGuardRailsResponseBody"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetGuardRailsBadRequestError"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/guard-rails/{id}":{"get":{"tags":["guard-rails"],"summary":"Get Guard Rail","description":"Review specific GuardRail.","operationId":"get_guard_rail_guard_rails__id__get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetGuardRailFullData"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetGuardRailNotFoundError"}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["guard-rails"],"summary":"Patch Guard Rail","description":"Update GuardRail.","operationId":"patch_guard_rail_guard_rails__id__patch","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchGuardRailRequestBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchGuardRailResponseBody"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchGuardRailBadRequestError"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuardRailForbiddenError"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchGuardRailNotFoundError"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuardRailConflictError"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchGuardRailUnsupportedEntityError"}}},"description":"Unprocessable Entity"}}},"delete":{"tags":["guard-rails"],"summary":"Delete Guard Rail","description":"Delete GuardRail.","operationId":"delete_guard_rail_guard_rails__id__delete","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"APIFunctionConfig":{"properties":{"url":{"type":"string","title":"Url"},"method":{"$ref":"#/components/schemas/MethodsTypes"},"headers":{"additionalProperties":{"type":"string"},"type":"object","title":"Headers"},"parameters":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Parameters"},"body":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Body"}},"type":"object","required":["url","method","headers"],"title":"APIFunctionConfig"},"AgentBadRequestError":{"properties":{"detail":{"const":"Invalid starting token provided","title":"Detail"}},"type":"object","required":["detail"],"title":"AgentBadRequestError"},"AgentConflictTypeError":{"properties":{"detail":{"const":"Such agent name already exists","title":"Detail"}},"type":"object","required":["detail"],"title":"AgentConflictTypeError"},"AgentUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["Template should have a call structure for at least one Execution Layer","At least one execution layer in the exeLayers must be provided"],"title":"Detail"}},"type":"object","required":["detail"],"title":"AgentUnprocessableEntityError"},"Authorization":{"properties":{"apiKey":{"type":"string","title":"Apikey"},"searchEngineId":{"type":"string","title":"Searchengineid"}},"type":"object","required":["apiKey","searchEngineId"],"title":"Authorization"},"CloudModel":{"properties":{"name":{"type":"string","title":"Name"},"maxTokensNumber":{"type":"string","title":"Maxtokensnumber"}},"type":"object","required":["name","maxTokensNumber"],"title":"CloudModel"},"CreateAgentBadRequest":{"properties":{"detail":{"const":"Failed to generate a template from the provided data, please create one manually or try again after modifying the description","title":"Detail"}},"type":"object","required":["detail"],"title":"CreateAgentBadRequest"},"CreateAgentNotFoundError":{"properties":{"detail":{"type":"string","enum":["KB not found","Template not found","Custom model not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"CreateAgentNotFoundError"},"CreateAgentPaymentRequired":{"properties":{"detail":{"const":"To use GPT-4 or GPT-4o model, please purchase a subscription","title":"Detail"}},"type":"object","required":["detail"],"title":"CreateAgentPaymentRequired"},"CreateAgentResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"templateId":{"type":"string","title":"Templateid"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["id","name","templateId","dateCreated"],"title":"CreateAgentResponseBody"},"CreateExeLayerUnprocessableEntityError":{"properties":{"detail":{"const":"Source Fabric configuration does not match name","title":"Detail"}},"type":"object","required":["detail"],"title":"CreateExeLayerUnprocessableEntityError"},"CreateExecutionLayerResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["id","name","dateCreated"],"title":"CreateExecutionLayerResponseBody"},"CreateLLMConfigResponseBody":{"properties":{"name":{"type":"string","title":"Name"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["name","dateCreated"],"title":"CreateLLMConfigResponseBody"},"ExeLayerBadRequestError":{"properties":{"detail":{"const":"Invalid starting token provided","title":"Detail"}},"type":"object","required":["detail"],"title":"ExeLayerBadRequestError"},"ExeLayerFabricName":{"type":"string","enum":["googleSearch","apiFunction"],"title":"ExeLayerFabricName"},"ExeLayerNotFoundError":{"properties":{"detail":{"type":"string","enum":["Execution layer not found","KB not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"ExeLayerNotFoundError"},"ExeLayerSourceFabric":{"properties":{"name":{"$ref":"#/components/schemas/ExeLayerFabricName"},"config":{"anyOf":[{"$ref":"#/components/schemas/APIFunctionConfig"},{"$ref":"#/components/schemas/GoogleSearchConfig"}],"title":"Config"}},"type":"object","required":["name","config"],"title":"ExeLayerSourceFabric","examples":[{"config":{"body":{"additionalProperties":false,"properties":{"name":{"maxLength":100,"minLength":1,"type":"string"},"age":{"format":"int32","maximum":150,"minimum":0,"type":["integer","null"]},"birth-date":{"format":"date","type":"string"},"address":{"items":false,"prefixItems":[{"type":"number"},{"type":"string"},{"enum":["Street","Avenue","Boulevard","Lane","Drive"]},{"enum":["NW","NE","SW","SE","N","S","E","W"]}],"type":"array"},"contact-info":{"additionalProperties":false,"properties":{"email":{"format":"email","type":"string"},"phone":{"pattern":"^[0-9]{3}-[0-9]{3}-[0-9]{4}$","type":"string"}},"required":["email"],"type":"object"},"employment-status":{"enum":["Employed","Unemployed","Student","Retired"],"type":"string"},"social-security-number":{"description":"Optional field representing a U.S. Social Security Number","pattern":"^[0-9]{3}-[0-9]{2}-[0-9]{4}$","type":"string"}},"required":["name","age","birth-date","address","contact-info","employment-status"],"type":"object"},"headers":{"Authorization":"Bearer token","Content-Type":"application/json","Custom-Header":"CustomValue"},"method":"POST","parameters":{"properties":[{"queryParam":{"default":"default_value","description":"A query parameter","type":["string"]}},{"anotherQueryParam":{"description":"Another query parameter with enum","enum":["value1","value2"],"type":["string"]}}],"required":["queryParam"],"type":"array"},"url":"https://api.example.com/data"},"name":"apiFunction"},{"config":{"authorization":{"apiKey":"your-api-key","searchEngineId":"your-search-engine-id"},"siteFilter":["example.com","anotherexample.com"]},"name":"googleSearch"}]},"ExecutionLayerConflictTypeError":{"properties":{"detail":{"const":"Such execution layer name already exists","title":"Detail"}},"type":"object","required":["detail"],"title":"ExecutionLayerConflictTypeError"},"GetAgentFullData":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"templateId":{"type":"string","title":"Templateid"},"guardRails":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Guardrails"},"exeLayers":{"items":{"type":"string"},"type":"array","title":"Exelayers"},"lastModified":{"type":"string","title":"Lastmodified"},"dateCreated":{"type":"string","title":"Datecreated"},"model":{"type":"string","title":"Model"}},"type":"object","required":["id","name","description","templateId","guardRails","exeLayers","lastModified","dateCreated","model"],"title":"GetAgentFullData"},"GetAgentNotFoundError":{"properties":{"detail":{"type":"string","enum":["Agent not found","KB not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"GetAgentNotFoundError"},"GetAgentShortData":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"}},"type":"object","required":["id","name"],"title":"GetAgentShortData"},"GetAgentsResponseBody":{"properties":{"agents":{"items":{"$ref":"#/components/schemas/GetAgentShortData"},"type":"array","title":"Agents"},"nextToken":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nexttoken"}},"type":"object","required":["agents","nextToken"],"title":"GetAgentsResponseBody"},"GetExecutionLayerFullData":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"description":{"type":"string","title":"Description"},"fabric":{"$ref":"#/components/schemas/ExeLayerSourceFabric"},"lastModified":{"type":"string","title":"Lastmodified"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["id","name","description","fabric","lastModified","dateCreated"],"title":"GetExecutionLayerFullData"},"GetExecutionLayerShortData":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"sourceFabric":{"type":"string","title":"Sourcefabric"}},"type":"object","required":["id","name","sourceFabric"],"title":"GetExecutionLayerShortData"},"GetExecutionLayersResponseBody":{"properties":{"executionLayers":{"items":{"$ref":"#/components/schemas/GetExecutionLayerShortData"},"type":"array","title":"Executionlayers"},"nextToken":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nexttoken"}},"type":"object","required":["executionLayers","nextToken"],"title":"GetExecutionLayersResponseBody"},"GetGuardRailFullData":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"fabric":{"$ref":"#/components/schemas/GuardRailSourceFabric"},"responseBlocking":{"type":"boolean","title":"Responseblocking"},"lastModified":{"type":"string","title":"Lastmodified"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["id","name","fabric","responseBlocking","lastModified","dateCreated"],"title":"GetGuardRailFullData"},"GetGuardRailNotFoundError":{"properties":{"detail":{"const":"GuardRail not found","title":"Detail"}},"type":"object","required":["detail"],"title":"GetGuardRailNotFoundError"},"GetGuardRailShortData":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"sourceFabric":{"type":"string","title":"Sourcefabric"}},"type":"object","required":["id","name","sourceFabric"],"title":"GetGuardRailShortData"},"GetGuardRailsBadRequestError":{"properties":{"detail":{"const":"Invalid starting token provided","title":"Detail"}},"type":"object","required":["detail"],"title":"GetGuardRailsBadRequestError"},"GetGuardRailsResponseBody":{"properties":{"guardRails":{"items":{"$ref":"#/components/schemas/GetGuardRailShortData"},"type":"array","title":"Guardrails"},"nextToken":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nexttoken"}},"type":"object","required":["guardRails","nextToken"],"title":"GetGuardRailsResponseBody"},"GetLLMConfigsResponseBody":{"properties":{"cloudModels":{"items":{"$ref":"#/components/schemas/CloudModel"},"type":"array","title":"Cloudmodels"},"customModels":{"items":{"$ref":"#/components/schemas/UserLLMConfigData"},"type":"array","title":"Custommodels"}},"type":"object","required":["cloudModels","customModels"],"title":"GetLLMConfigsResponseBody"},"GetUserInfoResponseBody":{"properties":{"userId":{"type":"string","title":"Userid"},"email":{"type":"string","title":"Email"},"subscriptionStatus":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subscriptionstatus"},"documentMonthLimit":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Documentmonthlimit"},"queryDayLimit":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Querydaylimit"},"currentDocumentCount":{"type":"number","title":"Currentdocumentcount"},"currentQueryCount":{"type":"number","title":"Currentquerycount"},"currentCost":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Currentcost"},"guide":{"anyOf":[{"$ref":"#/components/schemas/Guide"},{"type":"null"}]},"portalLink":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Portallink"},"primaryKB":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Primarykb"}},"type":"object","required":["userId","email","subscriptionStatus","documentMonthLimit","queryDayLimit","currentDocumentCount","currentQueryCount","currentCost","guide","portalLink","primaryKB"],"title":"GetUserInfoResponseBody"},"GoogleSearchConfig":{"properties":{"authorization":{"anyOf":[{"$ref":"#/components/schemas/Authorization"},{"type":"null"}]},"siteFilter":{"items":{"type":"string"},"type":"array","title":"Sitefilter"}},"type":"object","required":["siteFilter"],"title":"GoogleSearchConfig"},"GuardRailConflictError":{"properties":{"detail":{"const":"Such GuardRail name already exists","title":"Detail"}},"type":"object","required":["detail"],"title":"GuardRailConflictError"},"GuardRailFabricName":{"type":"string","enum":["promptInjectionValidator","urlValidator"],"title":"GuardRailFabricName"},"GuardRailForbiddenError":{"properties":{"detail":{"const":"KB is inactive","title":"Detail"}},"type":"object","required":["detail"],"title":"GuardRailForbiddenError"},"GuardRailSourceFabric":{"properties":{"name":{"$ref":"#/components/schemas/GuardRailFabricName"},"config":{"anyOf":[{"$ref":"#/components/schemas/PromptInjectionValidatorConfig"},{"$ref":"#/components/schemas/URLValidatorConfig"}],"title":"Config"}},"type":"object","required":["name","config"],"title":"GuardRailSourceFabric"},"Guide":{"properties":{"isConnectorsActive":{"type":"boolean","title":"Isconnectorsactive"},"isAskActive":{"type":"boolean","title":"Isaskactive"}},"type":"object","required":["isConnectorsActive","isAskActive"],"title":"Guide"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"LLMConfigConflictTypeError":{"properties":{"detail":{"const":"Such LLM name already exists","title":"Detail"}},"type":"object","required":["detail"],"title":"LLMConfigConflictTypeError"},"LLMConfigNotFoundError":{"properties":{"detail":{"type":"string","enum":["LLM configuration not found","KB not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"LLMConfigNotFoundError"},"LLMConfigUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["Invalid request schema","Missing \"[bynePromptPlaceholder]\" value as a field in the schema","This name is reserved and cannot be used"],"title":"Detail"}},"type":"object","required":["detail"],"title":"LLMConfigUnprocessableEntityError"},"MethodsTypes":{"type":"string","enum":["POST","GET"],"title":"MethodsTypes"},"PatchAgentUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["At least one field in the request body must be provided","At least one execution layer in the exeLayers must be provided"],"title":"Detail"}},"type":"object","required":["detail"],"title":"PatchAgentUnprocessableEntityError"},"PatchExeLayerUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["At least one field in the request body must be provided","Source Fabric configuration does not match name"],"title":"Detail"}},"type":"object","required":["detail"],"title":"PatchExeLayerUnprocessableEntityError"},"PatchGuardRailBadRequestError":{"properties":{"detail":{"const":"Invalid KB provided. Please, use tech KB","title":"Detail"}},"type":"object","required":["detail"],"title":"PatchGuardRailBadRequestError"},"PatchGuardRailNotFoundError":{"properties":{"detail":{"type":"string","enum":["GuardRail not found","KB not found"],"title":"Detail"}},"type":"object","required":["detail"],"title":"PatchGuardRailNotFoundError"},"PatchGuardRailRequestBody":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":50,"minLength":1},{"type":"null"}],"title":"Name"},"description":{"anyOf":[{"type":"string","maxLength":250,"minLength":1},{"type":"null"}],"title":"Description"},"responseBlocking":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Responseblocking"},"config":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Config"}},"type":"object","title":"PatchGuardRailRequestBody"},"PatchGuardRailResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"dateCreated":{"type":"string","title":"Datecreated"},"lastModified":{"type":"string","title":"Lastmodified"}},"type":"object","required":["id","name","dateCreated","lastModified"],"title":"PatchGuardRailResponseBody"},"PatchGuardRailUnsupportedEntityError":{"properties":{"detail":{"type":"string","enum":["At least one field in the request body must be provided","GuardRail configuration does not match name"],"title":"Detail"}},"type":"object","required":["detail"],"title":"PatchGuardRailUnsupportedEntityError"},"PatchLLMConfigUnprocessableEntityError":{"properties":{"detail":{"type":"string","enum":["Invalid request schema","At least one field in the request body must be provided","Missing \"[bynePromptPlaceholder]\" value as a field in the schema","This name is reserved and cannot be used"],"title":"Detail"}},"type":"object","required":["detail"],"title":"PatchLLMConfigUnprocessableEntityError"},"PostAgentRequestBody":{"properties":{"name":{"type":"string","maxLength":50,"minLength":1,"title":"Name"},"description":{"anyOf":[{"type":"string","maxLength":250,"minLength":1},{"type":"null"}],"title":"Description"},"templateId":{"type":"string","title":"Templateid"},"exeLayers":{"items":{"type":"string"},"type":"array","title":"Exelayers"},"guardRails":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Guardrails"},"modelType":{"type":"string","title":"Modeltype","description":"Choose GPT-3.5, GPT-4, GPT-4o or custom LLM as a model type","default":"GPT-3.5"}},"type":"object","required":["name","templateId","exeLayers"],"title":"PostAgentRequestBody"},"PostExecutionLayerRequestBody":{"properties":{"name":{"type":"string","maxLength":50,"minLength":1,"pattern":"^[a-zA-Z0-9_-]+$","title":"Name"},"description":{"type":"string","maxLength":250,"minLength":1,"title":"Description"},"sourceFabric":{"$ref":"#/components/schemas/ExeLayerSourceFabric"}},"type":"object","required":["name","description","sourceFabric"],"title":"PostExecutionLayerRequestBody"},"PostGuardRailBadRequestError":{"properties":{"detail":{"const":"Invalid KB provided. Please, use tech KB","title":"Detail"}},"type":"object","required":["detail"],"title":"PostGuardRailBadRequestError"},"PostGuardRailNotFoundError":{"properties":{"detail":{"const":"KB not found","title":"Detail"}},"type":"object","required":["detail"],"title":"PostGuardRailNotFoundError"},"PostGuardRailRequestBody":{"properties":{"name":{"type":"string","maxLength":50,"minLength":1,"title":"Name"},"description":{"anyOf":[{"type":"string","maxLength":250,"minLength":1},{"type":"null"}],"title":"Description"},"sourceFabric":{"$ref":"#/components/schemas/GuardRailSourceFabric"},"responseBlocking":{"type":"boolean","title":"Responseblocking"}},"type":"object","required":["name","sourceFabric","responseBlocking"],"title":"PostGuardRailRequestBody"},"PostGuardRailResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"dateCreated":{"type":"string","title":"Datecreated"}},"type":"object","required":["id","name","dateCreated"],"title":"PostGuardRailResponseBody"},"PostGuardRailUnsupportedEntityError":{"properties":{"detail":{"const":"GuardRail Source Fabric configuration does not match name","title":"Detail"}},"type":"object","required":["detail"],"title":"PostGuardRailUnsupportedEntityError"},"PostLLMConfigRequestBody":{"properties":{"name":{"type":"string","maxLength":50,"minLength":1,"title":"Name"},"apiKey":{"type":"string","title":"Apikey"},"url":{"type":"string","title":"Url"},"requestSchema":{"type":"string","title":"Requestschema","description":"Request Schema should have \"[bynePromptPlaceholder]\" as a value for the corresponding to its functionality key"},"maxTokensNumber":{"type":"integer","title":"Maxtokensnumber","description":"Max tokens number limits the value length for \"[bynePromptPlaceholder]\""}},"type":"object","required":["name","apiKey","url","requestSchema","maxTokensNumber"],"title":"PostLLMConfigRequestBody"},"PromptInjectionValidatorConfig":{"properties":{"kb":{"type":"string","title":"Kb"},"cosineSimilarityScore":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Cosinesimilarityscore"}},"type":"object","required":["kb","cosineSimilarityScore"],"title":"PromptInjectionValidatorConfig"},"URLValidatorConfig":{"properties":{},"type":"object","title":"URLValidatorConfig"},"UpdateAgentRequestBody":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":50,"minLength":1},{"type":"null"}],"title":"Name"},"description":{"anyOf":[{"type":"string","maxLength":250,"minLength":1},{"type":"null"}],"title":"Description"},"templateId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Templateid"},"exeLayers":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Exelayers"},"guardRails":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Guardrails"}},"type":"object","title":"UpdateAgentRequestBody"},"UpdateAgentResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"templateId":{"type":"string","title":"Templateid"},"dateCreated":{"type":"string","title":"Datecreated"},"lastModified":{"type":"string","title":"Lastmodified"},"exeLayers":{"items":{"type":"string"},"type":"array","title":"Exelayers"},"guardRails":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Guardrails"}},"type":"object","required":["id","name","templateId","dateCreated","lastModified","exeLayers","guardRails"],"title":"UpdateAgentResponseBody"},"UpdateExecutionLayerRequestBody":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":50,"minLength":1,"pattern":"^[a-zA-Z0-9_-]+$"},{"type":"null"}],"title":"Name"},"description":{"anyOf":[{"type":"string","maxLength":250,"minLength":1},{"type":"null"}],"title":"Description"},"config":{"anyOf":[{"$ref":"#/components/schemas/GoogleSearchConfig"},{"$ref":"#/components/schemas/APIFunctionConfig"},{"type":"null"}],"title":"Config"}},"type":"object","title":"UpdateExecutionLayerRequestBody"},"UpdateExecutionLayerResponseBody":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"dateCreated":{"type":"string","title":"Datecreated"},"lastModified":{"type":"string","title":"Lastmodified"}},"type":"object","required":["id","name","dateCreated","lastModified"],"title":"UpdateExecutionLayerResponseBody"},"UpdateLLMConfigRequestBody":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":50,"minLength":1},{"type":"null"}],"title":"Name"},"apiKey":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apikey"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"requestSchema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Requestschema","description":"Request Schema should have \"[bynePromptPlaceholder]\" as a value for the corresponding to its functionality key"},"maxTokensNumber":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Maxtokensnumber","description":"Max tokens number limits the value length for \"[bynePromptPlaceholder]\""}},"type":"object","title":"UpdateLLMConfigRequestBody"},"UserLLMConfigData":{"properties":{"name":{"type":"string","title":"Name"},"url":{"type":"string","title":"Url"},"lastModified":{"type":"string","title":"Lastmodified"},"maxTokensNumber":{"type":"string","title":"Maxtokensnumber"}},"type":"object","required":["name","url","lastModified","maxTokensNumber"],"title":"UserLLMConfigData"},"UserLLMConfigFullData":{"properties":{"name":{"type":"string","title":"Name"},"url":{"type":"string","title":"Url"},"lastModified":{"type":"string","title":"Lastmodified"},"maxTokensNumber":{"anyOf":[{"type":"number"},{"type":"string"}],"title":"Maxtokensnumber"},"requestSchema":{"type":"string","title":"Requestschema"},"dateCreated":{"type":"string","title":"Datecreated"},"apiKey":{"type":"string","title":"Apikey"}},"type":"object","required":["name","url","lastModified","maxTokensNumber","requestSchema","dateCreated","apiKey"],"title":"UserLLMConfigFullData"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKey":{"type":"apiKey","in":"header","name":"X-API-Key"},"Cognito_IdP":{"type":"oauth2","flows":{"authorizationCode":{"scopes":{"openid":"Grants access to the OpenID Connect ID token","email":"Grants access to the user's email address","profile":"Grants access to the user's basic profile information"},"authorizationUrl":"https://auth.app.docs.bynesoft.com/oauth2/authorize","tokenUrl":"https://auth.app.docs.bynesoft.com/oauth2/token"}}}}}}