{"openapi":"3.1.0","info":{"title":"ByneDocs Connectors","version":"1.0.0"},"servers":[{"url":"https://app.docs.bynesoft.com/api/connectors"}],"paths":{"/local/s3-upload-links":{"get":{"tags":["connectors"],"summary":"Create an upload link","description":"Generate a signed secure link for uploading your local file into temporary storage.","operationId":"s3_upload_links_local_s3_upload_links_get","security":[{"APIKey":[]},{"Cognito_IdP":[]}],"parameters":[{"name":"kb","in":"query","required":true,"schema":{"type":"string","title":"Kb"}},{"name":"fileName","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"minItems":1,"maxItems":50,"default":[],"title":"Filename"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"title":"Response 200 S3 Upload Links Local S3 Upload Links Get"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUnauthorizedError"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthForbiddenError"}}},"description":"Forbidden"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadLinkBadRequest"}}},"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AuthForbiddenError":{"properties":{"detail":{"type":"string","enum":["JWK public key not found","JWK invalid"],"title":"Detail"}},"type":"object","required":["detail"],"title":"AuthForbiddenError"},"AuthUnauthorizedError":{"properties":{"detail":{"type":"string","enum":["Token expired"],"const":"Token expired","title":"Detail"}},"type":"object","required":["detail"],"title":"AuthUnauthorizedError"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"UploadLinkBadRequest":{"properties":{"detail":{"type":"string","enum":["Technical KBs support only .csv and .parquet files"],"const":"Technical KBs support only .csv and .parquet files","title":"Detail"}},"type":"object","required":["detail"],"title":"UploadLinkBadRequest"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKey":{"type":"apiKey","in":"header","name":"X-API-Key"},"Cognito_IdP":{"type":"oauth2","flows":{"authorizationCode":{"scopes":{"openid":"Grants access to the OpenID Connect ID token","email":"Grants access to the user's email address","profile":"Grants access to the user's basic profile information"},"authorizationUrl":"https://auth.app.docs.bynesoft.com/oauth2/authorize","tokenUrl":"https://auth.app.docs.bynesoft.com/oauth2/token"}}}}}}